/*
.container{
    margin-top: 4;
    margin-bottom: 4;
}

.h1git{
    margin-bottom: 4;
}

.card{
    margin-bottom: 3;
}

.card-design{
    display: flex; 
    justify-content: between;
}

.card-title{ 
    font-weight:light;
}

.card-subtitle{
    margin-bottom: 2;
}

.badge{
    margin-right: 2;
}

.image{
    display: none;
    display:block;
}

.collapse{
    margin-top: 4;
}

.form-row{
    align-items:end;
}

.form{
    margin-bottom: 4;
}

.form-group{
    margin-left: 2;
}

*/